__pycache__/
*.py[cod]
*$py.class
*.pyc
.vscode
.vscode/settings.json
.vscode/setting.json
master/migrations/
/env/

venv/
.idea/
.directory

master/__pycache__
master/views/__pycache__
master/models/__pycache__
core/__pycache__
.DS_Store

master/migrations/__pycache__
phoenix/settings.py
**/migrations/**
!**/migrations
!**/migrations/__init__.py

.README.md
.idea